{% extends 'base.html.twig' %}

{% block body %}
		<h2 class="{{sousMessageClasse}}" onclick="window.location.href='{{ path('ReinitMessageBvn') }}'">{{sousMessage}}</h2>

		<h1 id="GrosseFluctuation"></h1>

		<script>
			CreerTexteArgent("GrosseFluctuation", {{ sommeTotale }}, 54);
		</script>

		<div class='flexDivImage'>
			<img id="grapheImage" alt="Image dynamique" class="grapheImage"></img>
		</div>
		<script>
			window.addEventListener('DOMContentLoaded', () => {
				const scale = 1 / 0.5;

				const width = window.innerWidth * 0.9 * scale;
				const height = window.innerHeight * 0.3 * scale;

				const imageUrl = `/GrapheGeneral?width=${width}&height=${height}`;
				document.getElementById('grapheImage').src = imageUrl;
			});
		</script>

		<div class='flexDiv'>
			<div class='listeVenteScrollbar'>
				{% for vente in listeVente %}
					<div class='vente_div'>
						<span class='vente_cours_surnom'>
							{{vente.getCours.getSurnom}}
						</span>

						<span id='{{ vente.getIdTransaction }}' class='vente_gp'></span>

						<span class='vente_dateVente'>{{ vente.getDateVente|date('d/m/Y') }}</span>

						<script>
							CreerTexteArgent('{{ vente.getIdTransaction }}', {{ vente.getGP }}, 20);
						</script>
					</div>
					<br>
				{% endfor %}
			</div>
		</div>
		<div class="flexDiv">
			<form id="etoroForm" action="{{ path('importerTransactionEtoro') }}" method="post" enctype="multipart/form-data" style="display: none;">
				<input type="file" name="fichier_etoro" id="fichierEtoroInput" onchange="document.getElementById('etoroForm').submit();">
			</form>

			<button type="button" onclick="document.getElementById('fichierEtoroInput').click();">
				Importer de nouvelles transactions eToro
			</button>
		</div>

{% endblock %}
