{% extends 'base.html.twig' %}

{% block body %}
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

	<h2 class="{{sousMessageClasse}}" onclick="window.location.href='{{ path('ReinitMessageBvn') }}'">{{sousMessage}}</h2>

	<h1 id="GrosseFluctuation"></h1>
	<script>
		CreerTexteArgent("GrosseFluctuation", {{ sommeTotale }}, 54);
	</script>

	<div class='flexDivImage'>
		<canvas id="grapheJS" class="GrapheImage"></canvas>
	</div>

	<br>
	<div class='flexDivImage'>
		<select name="modeAffichage" id='modeAffichageSelect' onchange="RechargerPage()">
			<option value="transaction">Par transaction</option>
			<option value="jour">Par jour</option>
			<option value="mois">Par mois</option>
			<option value="an">Par an</option>
		</select>
	</div>

	<br>
	<div class='flexDivImage'>
		<input type="radio" name="modeDate" value="reel" onclick="RechargerPage()"/>
		<label for="radio_reel" class='radioLabel'>Reel</label>
		<input id="radio_distinct" type="radio" name="modeDate" value="distinct" onclick="RechargerPage()"/>
		<label for="radio_distinct" class='radioLabel'>Distinct</label>
	</div>

	<br>
	<div class='flexDivImage'>
		<input type="radio" name="modeGp" value="gain" onclick="RechargerPage()"/>
		<label for="radio_gain" class='radioLabel'>Gain</label>

		<input type="radio" name="modeGp" value="tout" onclick="RechargerPage()"/>
		<label for="radio_tout" class='radioLabel'>Gain + Perte</label>

		<input id="radio_perte" type="radio" name="modeGp" value="perte" onclick="RechargerPage()"/>
		<label for="radio_perte" class='radioLabel'>Perte</label>
	</div>

	<script>
		window.addEventListener('DOMContentLoaded', () => {
const scale = 1 / 0.5;

const width = window.innerWidth * 0.9 * scale;
const height = window.innerHeight * 0.3 * scale;

const urlParams = new URLSearchParams(window.location.search);
const modeDate = urlParams.get('modeDate') || 'reel'; // Valeur par défaut : 'reel'
const modeAffichage = urlParams.get('modeAffichage') || 'transaction'; // Valeur par défaut : 'reel'
const modeGP = urlParams.get('modeGP') || 'tout'; // Valeur par défaut : 'reel'

window.modeDate = modeDate;

let radio = document.querySelector (`input[name="modeDate"][value="${modeDate}"]`);
if (radio) {
radio.checked = true;
}

radio = document.querySelector (`input[name="modeGp"][value="${modeGP}"]`);
if (radio) {
radio.checked = true;
}

document.getElementById('modeAffichageSelect').value = modeAffichage;
});
window.listeVente = {{ listeVenteJS|json_encode|raw }}
window.listeCours = {{ listeCoursJS|json_encode|raw }}

function RechargerPage() {
const modeAffichageSelect = document.getElementById('modeAffichageSelect').value;

let modeDateRadio = "reel";
let radios = document.getElementsByName("modeDate");
for (let i = 0; i < radios.length; i++) {
if (radios[i].checked) {
modeDateRadio = radios[i].value;
break;
}
}

let modeGPRadio = "tout";
radios = document.getElementsByName("modeGp");
for (let i = 0; i < radios.length; i++) {
if (radios[i].checked) {
modeGPRadio = radios[i].value;
break;
}
}

window.location.href = `?modeDate=${modeDateRadio}&modeAffichage=${modeAffichageSelect}&modeGP=${modeGPRadio}`;
}
	</script>
	<script type="module" src="{{ asset('js/GraphiqueJS/Graphique_controleur.js') }}"></script>

	<br>

	<div class='flexDiv'>
		<span>{{Description}}</span>
	</div>

	<div class='flexDiv'>
		<div class='listeVenteScrollbar'>
			{% for vente in listeVente %}
				<div class='vente_div'>
					<img style="max-width:20px; max-height:20px;" src="{{ path('imageCours', { id: vente.getCours.getId }) }}">
					<span class='vente_cours_surnom'>
						{{vente.getCours.getSurnom}}
					</span>
					<span id='{{ vente.getIdTransaction }}' class='vente_gp'></span>

					{% if vente.getEffetLevier > 1 %}
						<span class='vente_effetLevier'>x{{ vente.getEffetLevier }}</span>
					{% endif %}

					<span class='vente_dateVente'>{{ vente.getDateVente|date('d/m/Y') }}</span>

					<script>
						CreerTexteArgent('{{ vente.getIdTransaction }}', {{ vente.getGP }}, 20);
					</script>
				</div>
				<br>
			{% endfor %}
		</div>
	</div>

	<div class="flexDiv">
		<span class='sousMessageFraisSup'>
			sans inclure des frais de
			{{ fraisSup }}
			$</span>
	</div>
	<br>
	<div class="flexDiv">
		<form id="etoroForm" action="{{ path('importerTransactionEtoro') }}" method="post" enctype="multipart/form-data" style="display: none;">
			<input type="file" name="fichier_etoro" id="fichierEtoroInput" onchange="document.getElementById('etoroForm').submit();">
		</form>

		<button type="button" onclick="document.getElementById('fichierEtoroInput').click();">
			Importer de nouvelles transactions eToro
		</button>
	</div>
{% endblock %}
